<nb-layout>
  <nb-layout-header>
    <h3>Thêm bài đăng mới</h3>
  </nb-layout-header>
  <nb-layout-column>
    <!-- CKEDITOR -->
    <nb-card>
      <form #articleForm="ngForm" (ngSubmit)="createNewArticle(articleForm, myCkeditor)" class="form-horizontal">
        <div class="title">
          <input type="text" class="form-control" placeholder="Tiêu đề bài đăng"
                  id="title"
                  name="title"
                  class="form-control"
                  ngModel
                  required>
        </div>
        <div class="badges-picking"></div>
        <nb-card-body>
          <ck-editor #myCkeditor></ck-editor>
          <div class="control-area">
            <button type="submit" nbButton status="primary" outline class="btn-submit">Đăng bài</button>
          </div>
        </nb-card-body>
      </form>
    </nb-card>
    <!-- PREVIEW -->
    <nb-card>
      <nb-card-header>Xem trước</nb-card-header>
      <nb-card-body>
        <div [innerHTML]="myCkeditor.innerValue | safeHtml"></div>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
