.title
{
  display: flex;
  flex-flow: row nowrap;
  margin-top: 1rem;
  .form-control
  {
    flex: 0 0 60%;
    margin: 0 0.5rem;
  }
}
.control-area
{
  display: flex;
  flex-flow: row-reverse nowrap;
  .btn-submit
  {
    margin: 0 0.5rem;
  }
}
