<nb-tabset>
  <nb-tab tabTitle="Thông tin server">
    <nb-card class="col-10">
      <nb-card-body class="card-body">
        <div class="colors col-6">
          <div class="item text-info">
            <div class="color bg-status-info"></div>
            <div><h5 class="text-info">Prenewal</h5>Phiên bản</div>
          </div>
        </div>
        <div class="colors col-6">
          <div class="item text-hint">
            <div class="color bg-hint"></div>
            <div><h5 class="text-hint">28 - 08 - 2019</h5>Mở Cửa Chính Thức</div>
          </div>
        </div>
        <div class="colors col-6">
          <div class="item text-link">
            <div class="color bg-link"></div>
            <div><h5 class="text-link">99</h5>Max Level</div>
          </div>
        </div>
        <div class="colors col-6">
          <div class="item text-success">
            <div class="color bg-status-success"></div>
            <div><h5 class="text-success">99</h5>Max Stats</div>
          </div>
        </div>
        <div class="colors col-6">
          <div class="item text-warning">
            <div class="color bg-status-warning"></div>
            <div><h5 class="text-warning">190</h5>Max ASPD</div>
          </div>
        </div>
        <div class="colors col-6">
          <div class="item text-danger">
            <div class="color bg-status-danger"></div>
            <div><h5 class="text-danger">30 Cấp</h5>Party Share</div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-tab>
  <nb-tab tabTitle="Exp and Drop rates">
    <nb-card class="col-10">
      <nb-card-body class="card-body">
        <div class="colors col-6">
            <div class="item text-info">
              <div class="color bg-status-info"></div>
              <div><h5 class="text-info">x69</h5>Exp Rate</div>
            </div>
          </div>
          <div class="colors col-6">
            <div class="item text-hint">
              <div class="color bg-hint"></div>
              <div><h5 class="text-hint">x69</h5>Quest Exp Rate</div>
            </div>
          </div>
          <div class="colors col-6">
            <div class="item text-link">
              <div class="color bg-link"></div>
              <div><h5 class="text-link">x30</h5>Drop Rate</div>
            </div>
          </div>
          <div class="colors col-6">
            <div class="item text-success">
              <div class="color bg-status-success"></div>
              <div><h5 class="text-success">x30</h5>Card Drop Rate</div>
            </div>
          </div>
          <div class="colors col-6">
            <div class="item text-warning">
              <div class="color bg-status-warning"></div>
              <div><h5 class="text-warning">x1</h5>Mini-Boss Drop Rate</div>
            </div>
          </div>
          <div class="colors col-6">
            <div class="item text-danger">
              <div class="color bg-status-danger"></div>
              <div><h5 class="text-danger">x1</h5>MVP Drop Rate</div>
            </div>
          </div>
      </nb-card-body>
    </nb-card>
  </nb-tab>
  <nb-tab tabTitle="Custom Features">
    <nb-card class="col-8">
      <nb-card-body class="card-body">
        Đang update...
      </nb-card-body>
    </nb-card>
  </nb-tab>
</nb-tabset>
