<nb-accordion multi>
  <nb-accordion-item>
    <nb-accordion-item-header>
      Thông tin server
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      Episode	16.2 Renewal
      Max Level	185/65
      Max Stats	130 (3rd job)
      Max ASPD	193
      Open Since	October 24th, 2014
      Party Share	30 Levels
    </nb-accordion-item-body>
  </nb-accordion-item>

  <nb-accordion-item>
    <nb-accordion-item-header>
      Exp and Drop Rates
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      Base & Job	25x
      Quest EXP	25x
      Item Drop	10x
      Card Drop	10x
      Miniboss Card Drop	0.05%
      MVP Card Drop	0.02%
    </nb-accordion-item-body>
  </nb-accordion-item>

  <nb-accordion-item>
    <nb-accordion-item-header>
      Custom Features
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      New Beginner Tutorial	Main Office
      Monster Hunter	Automated Events
      Vending Map	Quest Boards up to 175
      Daily Log In Rewards	Achievements and Titles
      Renewal Drop penalty removed	NovaExt
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>