<div *ngIf="article">
  <div class="d-block w-100">
    <img class="w-100" src={{article.img_url}} alt="">
  </div>
  <nb-layout>
    <nb-layout-column>
      <nb-card>
        <nb-card-header>
          <div class="colors">
            <div class="item text-success">
              <div class="color bg-status-success"></div>
              <div>
                <h4 class="text-info">{{article.title}}</h4>
              </div>
            </div>
          </div>
        </nb-card-header>
        <nb-card-body>
          <div [innerHTML]="article.content | safeHtml"></div>
        </nb-card-body>
      </nb-card>
    </nb-layout-column>
  </nb-layout>
</div>
