<div class="d-block w-100">
  <img class="w-100" src={{article.imgUrl}} alt={{article.title}}>
</div>
<nb-layout>
  <nb-layout-column>
    <nb-card>
      <nb-card-header>
        <div class="colors">
          <div class="item text-info">
            <div class="color bg-status-info"></div>
            <div>
              <h5 class="text-info">{{article.title}}</h5>
              {{article.text}}
            </div>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div [innerHTML]=content></div>
        {{article.content}}
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
