<article *ngIf="article">
  <div class="container">
    <div class="image">
      <img style="width: 100%;" src="article.imgUrl" alt="">
    </div>
    <div class="information">
      <div class="badges">
        <div *ngIf="article.badges.news"><span class="badge badge-success">News</span></div>
        <div *ngIf="article.badges.hot"><span class="badge badge-danger">Hot</span></div>
        <div *ngIf="article.badges.event"><span class="badge badge-primary">Event</span></div>
        <div *ngIf="article.badges.guide"><span class="badge badge-info">Guide</span></div>
        <div *ngIf="article.badges.etc"><span class="badge badge-warning">Etc</span></div>
      </div>
      <div><a [routerLink]="['/article', article.slug]"><h2>{{article.title}}</h2></a></div>
      <div class="footer">
        <div class="author">{{article.author}}</div>
        <div class="datetime">{{article.create_at}}</div>
      </div>
    </div>
  </div>
</article>
