.container
{
  display: flex;
  flex-flow: row nowrap;
  padding: 0;
  .image
  {
    flex: 0 0 40%;
    align-self: center;
  }
  .information
  {
    padding: 0;
    padding-left: 1rem;
    flex: 1 1 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    .badges
    {
      display: flex;
      flex-flow: row nowrap;
      .badge
      {
        margin-right: 0.5rem;
      }
      .tag
      {
        display: inline;
        color: white;
        background-color: yellowgreen;
        padding: 2px;
        border-top-right-radius: 0.3rem;
        border-bottom-left-radius: 0.3rem;
      }
    }
    h4
    {
      margin: 0;
    }
    .title
    {
      font-weight: bold;
      font-size: 1.5rem;
      overflow: auto;
    }
    // .content
    // {}
    .footer
    {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      .author
      {
        font-weight: bold;
        color: green;
      }
      // .datetime
      // {}
    }
  }
}
