<nb-card>
  <nb-card-header>
    Wiki will coming soon ~
  </nb-card-header>
  <nb-card-body>
    <!-- NEW SERVICE BOX -->
    <div style="background-color: brown; padding: 1rem;">
      <div class="service-box2">
        <div class="time-box2">
          <span>THÁNG 1</span>
          <span>25</span>
          <span>10:00 AM</span>
        </div>
        <div class="information-box2">
          <div class="text-information">
            <div class="status">KHÔNG ĐẾN</div>
            <div class="salon-and-stylist">
              <span class="salon">LIÊM BABER</span>
              <span> - </span>
              <span class="stylist">Thi Nguyễn</span>
            </div>
            <div class="price-and-time">180.000đ | 45 phút</div>
            <div class="service-list">
              <span>Cắt tóc nam</span>
              <span>Duỗi tóc</span>
              <span>Nhuộm tóc</span>
            </div>
          </div>
          <div class="dat-button"><button>ĐẶT</button></div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
