@import '../../../themes';

@include nb-install-component {
  // --actions-icon-color: brown;
}

.sidebar-toggle2 {
  @include nb-ltr(padding-right, 1.25rem);
  @include nb-rtl(padding-left, 1.25rem);
  text-decoration: none;
  color: nb-theme(text-hint-color);
  nb-icon {
    font-size: 1.2rem;
  }
  padding-left: 1rem;
}

.scrollable
{
  padding: 0 !important;
}
.top-navbar
{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}
.header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
	justify-content: flex-start;
  align-items: center;
  width: auto;

  .sidebar-toggle {
    @include nb-ltr(padding-right, 1.25rem);
    @include nb-rtl(padding-left, 1.25rem);
    text-decoration: none;
    color: nb-theme(text-hint-color);
    nb-icon {
      font-size: 1.75rem;
    }
  }

  .logo {
    padding: 0 1.25rem;
    font-size: 1.75rem;
    @include nb-ltr(border-left, 1px solid nb-theme(divider-color));
    @include nb-rtl(border-right, 1px solid nb-theme(divider-color));
    white-space: nowrap;
    text-decoration: none;
  }
}

.loginButton, .logoutButton
{
  margin: 0 1rem;
}
