<nb-layout>
  <nb-layout-header>
    <div class="top-navbar col-md-12">
      <div class="header-container">
        <div class="logo-container">
          <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
            <nb-icon icon="menu-2-outline"></nb-icon>
          </a>
          <a class="logo" (click)="navigateHome()">Latte-<span>RO</span></a>
        </div>
        <nb-actions>
          <nb-action link="/" title="Home" icon="home-outline"></nb-action>
          <nb-action link="/download" title="Download" icon="download-outline"></nb-action>
          <nb-action link="/news" title="News" icon="browser-outline"></nb-action>
        </nb-actions>
      </div>
      <div class="row">
        <nb-user *ngIf="userInformation"
                  name="{{userInformation.id}}"
                  title="{{groupIdReferences[userInformation.gid]}}"
                  size="medium"
                  shape="round"
                  color="#cccccc">
        </nb-user>
        <button *ngIf="!userInformation"
                  class="loginButton"
                  nbButton
                  outline
                  shape="rectangle"
                  size="small"
                  status="success"
                  (click)="onLogin()">Login <nb-icon icon="heart" status="danger"></nb-icon></button>
        <button *ngIf="userInformation"
                  class="logoutButton"
                  nbButton
                  outline
                  shape="rectangle"
                  size="small"
                  status="info"
                  (click)="onLogout()">Logout <nb-icon icon="log-out" status="danger"></nb-icon>
        </button>
      </div>
    </div>
  </nb-layout-header>

  <nb-sidebar>
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle2">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <nb-menu [items]="menuItems" autoCollapse=true>
    </nb-menu>
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

</nb-layout>
